---
import type { CollectionEntry } from "astro:content";
import { slugifyStr } from "@/utils/slugify";
import { getPath } from "@/utils/getPath";
import Datetime from "./Datetime.astro";

type Props = {
  variant?: "h2" | "h3";
} & CollectionEntry<"blog">;

const { variant: Heading = "h2", id, data, filePath } = Astro.props;

const { title, description, ...props } = data;
---

<li class="group list-none">
  <a
    href={getPath(id, filePath)}
    class="block rounded-xl p-5 -mx-5 transition-all duration-200 hover:bg-accent/5 hover:shadow-[0_0_30px_-5px] hover:shadow-accent/10"
  >
    <Heading
      class="text-lg font-semibold text-foreground group-hover:text-accent transition-colors duration-200"
      style={{ viewTransitionName: slugifyStr(title.replaceAll(".", "-")) }}
    >
      {title}
    </Heading>
    <Datetime {...props} class="mt-1" />
    <p class="mt-2 text-sm text-foreground/60 leading-relaxed line-clamp-2">{description}</p>
  </a>
</li>
